# Introdução a collections

In [2]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [3]:
idades = [39, 30, 27, 18]
type(idades)

list

In [4]:
len(idades)

4

In [5]:
idades[0]

39

In [6]:
idades

[39, 30, 27, 18]

In [7]:
idades.append(15)

In [8]:
idades

[39, 30, 27, 18, 15]

In [9]:
idades[5]

IndexError: list index out of range

In [10]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [11]:
idades.remove(30)

In [12]:
idades

[39, 27, 18, 15]

In [13]:
idades.append(15)
idades.remove(15)
idades

[39, 27, 18, 15]

In [14]:
28 in idades

False

In [15]:
if 15 in idades:
    idades.remove(15)

In [16]:
idades

[39, 27, 18]

In [17]:
idades.insert(0, 20)
idades

[20, 39, 27, 18]

In [18]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [19]:
idades.append([27, 19])
idades

[20, 39, 18, [27, 19]]

In [21]:
for elemento in idades:
    print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [22]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [23]:
for idade in idades:
    print(idade + 1)

21
40
19
28
20

In [26]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade+1)

idades

[20, 39, 18, 27, 19]

In [29]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [30]:
# list comprehension: criar uma nova lista baseado nos resultados de uma lista existente
[(idade) for idade in idades if idade > 21]

[39, 27]

In [31]:
idades

[20, 39, 18, 27, 19]

In [32]:
def proximo_ano(idade):
    return idade+1
[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [38]:
# problemas da mutabilidade da lista: esse append muda o valor da lista que foi passada como parâmetro
# sempre que você passa um objeto mutável como parâmetro, está sujeito a qualquer tipo de mudança
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    lista.append(13)

In [37]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [39]:
faz_processamento_de_visualizacao()

0

In [40]:
# como passamos um valor padrão como parâmetro e chamamos a função sem parâmetros, o valor padrão
# ficou armazenado na memória
faz_processamento_de_visualizacao()

1

In [43]:
# a melhor prática é de passar None como parâmetro
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [45]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Usando objetos próprios

In [108]:
class ContaCorrente():
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self,valor):
        self.saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} saldo {}<<]".format(self.codigo, self.saldo)

In [47]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 saldo 0<<]

In [48]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 saldo 500<<]

In [49]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 saldo 1000<<]

In [51]:
contas = [conta_do_gui, conta_da_dani]
print(contas) # nota: como é uma lista de objetos, o __str__ não faz o print da forma que programamos

for conta in contas:
    print(conta)

[<__main__.ContaCorrente object at 0x7f506432aa00>, <__main__.ContaCorrente object at 0x7f506432a730>]
[>>Codigo 15 saldo 500<<]
[>>Codigo 47685 saldo 1000<<]

In [52]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [53]:
print(contas[0])

[>>Codigo 15 saldo 500<<]

In [54]:
# o que será que acontece se depositarmos 100 reais na conta do gui, já que aparece na lista em duas
# posições diferentes?
conta_do_gui.deposita(100)

In [55]:
print(contas[0])

[>>Codigo 15 saldo 600<<]

In [56]:
print(contas[2])

[>>Codigo 15 saldo 600<<]

In [58]:
# ao passarmos um objeto em uma lista, não estamos criando objetos novos, apenas os referenciando.
# o que, novamente, é um ponto de atenção, pois esse objeto mutável está sujeito a qualquer tipo
# de mudança

In [60]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 saldo 600<<] [>>Codigo 47685 saldo 1000<<]
[>>Codigo 15 saldo 700<<] [>>Codigo 47685 saldo 1100<<]

In [61]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 saldo 700<<] [>>Codigo 47685 saldo 1100<<]

In [62]:
deposita_para_todas(contas) # dá erro pois contas[0] não é um objeto do tipo Conta
print(contas[0], contas[1], contas[2])
# além do mais, não é interessante associar um objeto ou valor a uma determinada posição
# guilherme passou de 0 pra 1, e daniela passou de 1 pra 2.

AttributeError: 'int' object has no attribute 'deposita'

In [64]:
# isso não é uma boa prática pois é um tipo de identidade sendo passado em uma lista mutável.
['Guilherme', 37]
['Daniela', 31]

#desse modo, é mais interessante usarmos uma tupla.
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # péssima prática fugir do padrão que já foi criado

In [65]:
guilherme.append(6754)

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
conta_do_gui = (15, 1000)
conta_do_gui[1]

1000

In [68]:
conta_do_gui[1] += 100

TypeError: 'tuple' object does not support item assignment

In [71]:
def deposita(conta): # abordagem "funcional" (separando o comportamento dos dados)
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [72]:
deposita(conta_do_gui)

(15, 1100)

In [73]:
conta_do_gui # continua o valor anterior pois sabemos que a tupla é imutável

(15, 1000)

In [74]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui # o valor apenas altera pois estamos atribuindo um novo valor para a tupla

(15, 1100)

In [75]:
# no mundo real, trabalhamos com uma mistura de listas e tuplas.
usuarios = [guilherme, daniela]
usuarios # nos faz sentido criar uma lista para usuários pois tenderemos a ter mais usuários com o t.

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [76]:
usuarios.append(('Paulo, 39, 1979'))

In [77]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), 'Paulo, 39, 1979']

In [79]:
usuarios[0][0] = "Guilherme Silveira"

TypeError: 'tuple' object does not support item assignment

In [80]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [82]:
for conta in contas:
    print(conta)

[>>Codigo 15 saldo 500<<]
[>>Codigo 234876 saldo 1000<<]

In [83]:
# nota: por mais que contas seja uma tupla e não possamos alterar, os objetos dentro da tupla são
# mutáveis
contas.append(2913821)

AttributeError: 'tuple' object has no attribute 'append'

In [86]:
contas[0].deposita(300)

In [87]:
for conta in contas:
    print(conta)

[>>Codigo 15 saldo 800<<]
[>>Codigo 234876 saldo 1000<<]

# Herança e Polimorfismo

In [90]:
class Conta:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self,valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} saldo {}<<]".format(self._codigo, self._saldo)

In [92]:
print(Conta(88))

[>>Codigo 88 saldo 0<<]

In [138]:
class ContaCorrente(Conta):
    def passa_o_mes(self):
        self._saldo -= 2
        
class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3
        
class ContaInvestimento(Conta):
    pass

In [94]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 saldo 998<<]

In [96]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 saldo 1007.0<<]

In [97]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes() # duck typing
    print(conta)

[>>Codigo 16 saldo 998<<]
[>>Codigo 17 saldo 1007.0<<]

# Tipos de array (array e numpy)
### É costume usar o numpy se precisarmos fazer um trabalho numérico

In [98]:
import array as arr

arr.array('d', [1, 3.5]) # array com ponto flutuante ('d')
# é uma forma mais eficiente de manipular uma 'lista' de números

array('d', [1.0, 3.5])

In [99]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: must be real number, not str

In [100]:
import numpy as np # é mais comum usarmos numpy do que array

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [101]:
numeros + 3

array([4. , 6.5])

In [106]:
# Otimizando nossa classe inicial:
    
from abc import ABCMeta, abstractmethod ######

class Conta(metaclass=ABCMeta):
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self,valor):
        self.saldo += valor
    
    @abstractmethod # 
    def passa_o_mes(self):
        pass
        
    def __str__(self):
        return "[>>Codigo {} saldo {}<<]".format(self.codigo, self.saldo)

In [109]:
print(Conta(88)) # dá erro pois a classe Conta é uma classe abstrata, a ser utilizada por outras
# classes

TypeError: Can't instantiate abstract class Conta with abstract methods passa_o_mes

In [111]:
ContaInvestimento(764)

In [121]:
class ContaSalario: # nova classe
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [115]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [116]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [117]:
conta1 == conta2

False

In [118]:
contas = [conta1]
conta1 in contas

True

In [119]:
conta2 in contas

False

In [122]:
class ContaSalario: # adaptando
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro): # adicionado
        return self._codigo == outro._codigo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [123]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2 # True porque adicionamos o __eq__

True

In [124]:
conta1 in contas

True

In [125]:
conta2 in contas # Também retorna True porque por baixo dos panos também utiliza o __eq__

True

In [126]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [127]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [128]:
conta1.deposita(10)

In [129]:
conta1 == conta2 # False porque mudou o saldo

False

In [130]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [131]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)
conta1 == conta2

False

In [133]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)
    
class ContaMultiploSalario(ContaSalario):
    pass

In [135]:
conta1 = ContaSalario(37)
conta2 = ContaMultiploSalario(37)
conta1 == conta2

True

In [136]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [139]:
isinstance(ContaCorrente(34), Conta) # ContaCorrente é filha de Conta

True

In [144]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [148]:
range(len(idades)) # lazy, é um iterável

range(0, 8)

In [149]:
enumerate(idades) # lazy, é um iterável

In [150]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [151]:
list(enumerate(idades)) # forcei a geração dos valores
# note que tuplas foram criadas, em que uma posição está associado a um valor

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [152]:
for valor in enumerate(idades): # unpacking da nossa tupla
    print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [153]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
    print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [154]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: 
    print(nome) # já desempacotando

Guilherme
Daniela
Paulo

In [155]:
for nome, _, _ in usuarios: # já desempacotando. Nesse caso, o _ significa algo que não iremos usar
    print(nome)

Guilherme
Daniela
Paulo

In [156]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [157]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [159]:
reversed(idades) # lazy. iterador

In [160]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [161]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [162]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [163]:
idades.sort() # a lista será ordenada

In [164]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [166]:
nomes = ["guilherme", "Daniela", "Paulo"]
sorted(nomes) # Na ordem natural das strings, os maiúsculos vem primeiro do que minúsculos

['Daniela', 'Paulo', 'guilherme']

In [167]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [168]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [169]:
for conta in contas:
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [170]:
sorted(contas) # não conseguimos fazer comparações de '<' ou '>' da forma que
# a classe está estruturada.

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [172]:
def extrai_saldo(conta):
    return conta._saldo # acessamos um atributo privado, o que não é boa prática.

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [173]:
# alternativa de realizar essa comparação:

from operator import attrgetter

# ainda precisamos acessar um atributo privado, o que não é uma boa prática.
for conta in sorted(contas, key=attrgetter("_saldo")): 
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [174]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [175]:
# adicionado o método mágico __lt__
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro): # lt = less than = <
        return self._saldo < outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [176]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [177]:
conta_do_guilherme < conta_da_daniela

True

In [178]:
conta_do_guilherme > conta_da_daniela # funciona porque o __lt__ já foi implementado, logo, o
# contrário também foi implementado.

False

In [179]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [180]:
for conta in sorted(contas, reverse = True):
    print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [181]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [182]:
for conta in sorted(contas, key=attrgetter("_saldo","_codigo")):
    print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [183]:
# adicionando um campo para também levar o código em consideração na hora de ordenar
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro): # lt = less than = <
        if self._saldo != outro._saldo: #######
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo ##########
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [188]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [189]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [190]:
conta_do_guilherme < conta_da_daniela

True

In [191]:
conta_do_guilherme <= conta_da_daniela # não implementamos o <=

TypeError: '<=' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [193]:
# adicionando o decorator que, ao ter definido o __lt__ e o __eq__, permite fazer comparações
# do tipo <= ou >=
from functools import total_ordering

@total_ordering 
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro): # lt = less than = <
        if self._saldo != outro._saldo: #######
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo ##########
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [194]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [195]:
conta_do_guilherme <= conta_da_daniela

True

In [196]:
conta_do_guilherme <= conta_do_paulo

False

In [197]:
conta_do_guilherme < conta_do_guilherme

False

In [198]:
conta_do_guilherme == conta_do_guilherme

True

In [199]:
conta_do_guilherme <= conta_do_guilherme

True