# Introdução a collections

In [2]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [3]:
idades = [39, 30, 27, 18]
type(idades)

list

In [4]:
len(idades)

4

In [5]:
idades[0]

39

In [6]:
idades

[39, 30, 27, 18]

In [7]:
idades.append(15)

In [8]:
idades

[39, 30, 27, 18, 15]

In [9]:
idades[5]

IndexError: list index out of range

In [10]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [11]:
idades.remove(30)

In [12]:
idades

[39, 27, 18, 15]

In [13]:
idades.append(15)
idades.remove(15)
idades

[39, 27, 18, 15]

In [14]:
28 in idades

False

In [15]:
if 15 in idades:
    idades.remove(15)

In [16]:
idades

[39, 27, 18]

In [17]:
idades.insert(0, 20)
idades

[20, 39, 27, 18]

In [18]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [19]:
idades.append([27, 19])
idades

[20, 39, 18, [27, 19]]

In [21]:
for elemento in idades:
    print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [22]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [23]:
for idade in idades:
    print(idade + 1)

21
40
19
28
20

In [26]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade+1)

idades

[20, 39, 18, 27, 19]

In [29]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [30]:
# list comprehension: criar uma nova lista baseado nos resultados de uma lista existente
[(idade) for idade in idades if idade > 21]

[39, 27]

In [31]:
idades

[20, 39, 18, 27, 19]

In [32]:
def proximo_ano(idade):
    return idade+1
[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [38]:
# problemas da mutabilidade da lista: esse append muda o valor da lista que foi passada como parâmetro
# sempre que você passa um objeto mutável como parâmetro, está sujeito a qualquer tipo de mudança
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    lista.append(13)

In [37]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [39]:
faz_processamento_de_visualizacao()

0

In [40]:
# como passamos um valor padrão como parâmetro e chamamos a função sem parâmetros, o valor padrão
# ficou armazenado na memória
faz_processamento_de_visualizacao()

1

In [43]:
# a melhor prática é de passar None como parâmetro
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [45]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Usando objetos próprios

In [108]:
class ContaCorrente():
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self,valor):
        self.saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} saldo {}<<]".format(self.codigo, self.saldo)

In [47]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 saldo 0<<]

In [48]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 saldo 500<<]

In [49]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 saldo 1000<<]

In [51]:
contas = [conta_do_gui, conta_da_dani]
print(contas) # nota: como é uma lista de objetos, o __str__ não faz o print da forma que programamos

for conta in contas:
    print(conta)

[<__main__.ContaCorrente object at 0x7f506432aa00>, <__main__.ContaCorrente object at 0x7f506432a730>]
[>>Codigo 15 saldo 500<<]
[>>Codigo 47685 saldo 1000<<]

In [52]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [53]:
print(contas[0])

[>>Codigo 15 saldo 500<<]

In [54]:
# o que será que acontece se depositarmos 100 reais na conta do gui, já que aparece na lista em duas
# posições diferentes?
conta_do_gui.deposita(100)

In [55]:
print(contas[0])

[>>Codigo 15 saldo 600<<]

In [56]:
print(contas[2])

[>>Codigo 15 saldo 600<<]

In [58]:
# ao passarmos um objeto em uma lista, não estamos criando objetos novos, apenas os referenciando.
# o que, novamente, é um ponto de atenção, pois esse objeto mutável está sujeito a qualquer tipo
# de mudança

In [60]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 saldo 600<<] [>>Codigo 47685 saldo 1000<<]
[>>Codigo 15 saldo 700<<] [>>Codigo 47685 saldo 1100<<]

In [61]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 saldo 700<<] [>>Codigo 47685 saldo 1100<<]

In [62]:
deposita_para_todas(contas) # dá erro pois contas[0] não é um objeto do tipo Conta
print(contas[0], contas[1], contas[2])
# além do mais, não é interessante associar um objeto ou valor a uma determinada posição
# guilherme passou de 0 pra 1, e daniela passou de 1 pra 2.

AttributeError: 'int' object has no attribute 'deposita'

In [64]:
# isso não é uma boa prática pois é um tipo de identidade sendo passado em uma lista mutável.
['Guilherme', 37]
['Daniela', 31]

#desse modo, é mais interessante usarmos uma tupla.
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # péssima prática fugir do padrão que já foi criado

In [65]:
guilherme.append(6754)

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
conta_do_gui = (15, 1000)
conta_do_gui[1]

1000

In [68]:
conta_do_gui[1] += 100

TypeError: 'tuple' object does not support item assignment

In [71]:
def deposita(conta): # abordagem "funcional" (separando o comportamento dos dados)
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [72]:
deposita(conta_do_gui)

(15, 1100)

In [73]:
conta_do_gui # continua o valor anterior pois sabemos que a tupla é imutável

(15, 1000)

In [74]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui # o valor apenas altera pois estamos atribuindo um novo valor para a tupla

(15, 1100)

In [75]:
# no mundo real, trabalhamos com uma mistura de listas e tuplas.
usuarios = [guilherme, daniela]
usuarios # nos faz sentido criar uma lista para usuários pois tenderemos a ter mais usuários com o t.

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [76]:
usuarios.append(('Paulo, 39, 1979'))

In [77]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), 'Paulo, 39, 1979']

In [79]:
usuarios[0][0] = "Guilherme Silveira"

TypeError: 'tuple' object does not support item assignment

In [80]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [82]:
for conta in contas:
    print(conta)

[>>Codigo 15 saldo 500<<]
[>>Codigo 234876 saldo 1000<<]

In [83]:
# nota: por mais que contas seja uma tupla e não possamos alterar, os objetos dentro da tupla são
# mutáveis
contas.append(2913821)

AttributeError: 'tuple' object has no attribute 'append'

In [86]:
contas[0].deposita(300)

In [87]:
for conta in contas:
    print(conta)

[>>Codigo 15 saldo 800<<]
[>>Codigo 234876 saldo 1000<<]

# Herança e Polimorfismo

In [90]:
class Conta:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self,valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} saldo {}<<]".format(self._codigo, self._saldo)

In [92]:
print(Conta(88))

[>>Codigo 88 saldo 0<<]

In [102]:
class ContaCorrente(Conta):
    def passa_o_mes(self):
        self._saldo -= 2
        
class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3
        
class ContaInvestimento(Conta):
    pass

In [94]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 saldo 998<<]

In [96]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 saldo 1007.0<<]

In [97]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes() # duck typing
    print(conta)

[>>Codigo 16 saldo 998<<]
[>>Codigo 17 saldo 1007.0<<]

# Tipos de array (array e numpy)
### É costume usar o numpy se precisarmos fazer um trabalho numérico

In [98]:
import array as arr

arr.array('d', [1, 3.5]) # array com ponto flutuante ('d')
# é uma forma mais eficiente de manipular uma 'lista' de números

array('d', [1.0, 3.5])

In [99]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: must be real number, not str

In [100]:
import numpy as np # é mais comum usarmos numpy do que array

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [101]:
numeros + 3

array([4. , 6.5])

In [106]:
# Otimizando nossa classe inicial:
    
from abc import ABCMeta, abstractmethod ######

class Conta(metaclass=ABCMeta):
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self,valor):
        self.saldo += valor
    
    @abstractmethod # 
    def passa_o_mes(self):
        pass
        
    def __str__(self):
        return "[>>Codigo {} saldo {}<<]".format(self.codigo, self.saldo)

In [109]:
print(Conta(88)) # dá erro pois a classe Conta é uma classe abstrata, a ser utilizada por outras
# classes

TypeError: Can't instantiate abstract class Conta with abstract methods passa_o_mes

In [111]:
ContaInvestimento(764)